body {
    display: flex;
}
div {
    height: 100px;
    width: 100px;
    background-color: rgb(187, 187, 187);
    margin: 20px;
}
.top-left {
    box-shadow: -5px -5px 1px 3px gray;
}
.right-bottom {
    box-shadow: 5px 5px 5px gray;
}
.dark {
    box-shadow: 5px 5px 5px 6px gray;
}
.blur {
    box-shadow: 1px 1px 15px -1px gray;
}
.normal {
    box-shadow: 0 0 1px 3px gray;
}

